<p id="notice"><%= notice %></p>

<h1>Listing Bands</h1>

<%= simple_form_for @search, url: bands_path, method: :get, remote: true do |f| %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :name %>
    </div>
    <div class="col-md-4">
      <%= f.input :origin, collection: Band.pluck(:origin).uniq%>
    </div>
    <div class="col-md-4">
      <%= f.input :first_album_year, collection: Band.pluck(:first_album_year).sort.uniq%>
    </div>
    <div class="col-md-4">
      <%= f.submit class: "btn btn-default", style: "margin-top: 24px"%>

    </div>
  </div>
<% end %>

<div id="bands">
  <%= render partial: 'bands' %>
</div>
<br>

<%= link_to 'New Band', new_band_path %>
